body {
    background-color: #4378B7;
    background-image: url("arc-en-ciel.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
}

h1, #compte_a_rebours {
    color: #fff;
}

h1 {
    font-size: 3rem;
}

#compte_a_rebours {
    font-size: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.action {
    margin-top: 50px;
}

.action a {
    color: #7e1124;
    background-color: #fcca4e;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}